USE [Truyentranh]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 01-Jan-18 9:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[UserName] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Admin_1] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DADOC]    Script Date: 01-Jan-18 9:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DADOC](
	[Matruyen] [int] NOT NULL,
	[Mand] [int] NOT NULL,
	[Ngaydoc] [datetime] NULL,
 CONSTRAINT [PK_DADOC] PRIMARY KEY CLUSTERED 
(
	[Matruyen] ASC,
	[Mand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUUTRU]    Script Date: 01-Jan-18 9:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUUTRU](
	[Maluu] [int] IDENTITY(1,1) NOT NULL,
	[Matruyen] [int] NULL,
	[Mand] [int] NULL,
 CONSTRAINT [PK_LUUTRU] PRIMARY KEY CLUSTERED 
(
	[Maluu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 01-Jan-18 9:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[Mand] [int] IDENTITY(1,1) NOT NULL,
	[Hoten] [nvarchar](max) NULL,
	[Taikhoan] [nvarchar](max) NULL,
	[Matkhau] [nvarchar](max) NULL,
	[Nhaplaimk] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Diachi] [nvarchar](max) NULL,
	[Dienthoai] [nvarchar](max) NULL,
	[Ngaysinh] [datetime] NULL,
 CONSTRAINT [PK_NGUOIDUNG_1] PRIMARY KEY CLUSTERED 
(
	[Mand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 01-Jan-18 9:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[Manxb] [int] IDENTITY(1,1) NOT NULL,
	[Tennxb] [nvarchar](max) NULL,
	[Diachi] [nvarchar](max) NULL,
	[Dienthoai] [nvarchar](max) NULL,
 CONSTRAINT [PK_NHAXUATBAN_1] PRIMARY KEY CLUSTERED 
(
	[Manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 01-Jan-18 9:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[Matacgia] [int] IDENTITY(1,1) NOT NULL,
	[Tentacgia] [nvarchar](max) NULL,
	[Diachi] [nvarchar](max) NULL,
	[Tieusu] [nvarchar](max) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[Matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 01-Jan-18 9:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[Maloai] [int] IDENTITY(1,1) NOT NULL,
	[Tenloai] [nvarchar](max) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[Maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRUYEN]    Script Date: 01-Jan-18 9:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUYEN](
	[Matruyen] [int] IDENTITY(1,1) NOT NULL,
	[Tentruyen] [nvarchar](max) NULL,
	[Matacgia] [int] NULL,
	[Maloai] [int] NULL,
	[Manxb] [int] NULL,
	[Anhbia] [nvarchar](max) NULL,
	[Noidung] [nvarchar](max) NULL,
	[Sochuong] [int] NULL,
	[Noibat] [int] NULL,
 CONSTRAINT [PK_TRUYEN] PRIMARY KEY CLUSTERED 
(
	[Matruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[DADOC]  WITH CHECK ADD  CONSTRAINT [FK_DADOC_TRUYEN] FOREIGN KEY([Matruyen])
REFERENCES [dbo].[TRUYEN] ([Matruyen])
GO
ALTER TABLE [dbo].[DADOC] CHECK CONSTRAINT [FK_DADOC_TRUYEN]
GO
ALTER TABLE [dbo].[LUUTRU]  WITH CHECK ADD  CONSTRAINT [FK_LUUTRU_NGUOIDUNG1] FOREIGN KEY([Mand])
REFERENCES [dbo].[NGUOIDUNG] ([Mand])
GO
ALTER TABLE [dbo].[LUUTRU] CHECK CONSTRAINT [FK_LUUTRU_NGUOIDUNG1]
GO
ALTER TABLE [dbo].[LUUTRU]  WITH CHECK ADD  CONSTRAINT [FK_LUUTRU_TRUYEN] FOREIGN KEY([Matruyen])
REFERENCES [dbo].[TRUYEN] ([Matruyen])
GO
ALTER TABLE [dbo].[LUUTRU] CHECK CONSTRAINT [FK_LUUTRU_TRUYEN]
GO
ALTER TABLE [dbo].[TRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_TRUYEN_NHAXUATBAN] FOREIGN KEY([Manxb])
REFERENCES [dbo].[NHAXUATBAN] ([Manxb])
GO
ALTER TABLE [dbo].[TRUYEN] CHECK CONSTRAINT [FK_TRUYEN_NHAXUATBAN]
GO
ALTER TABLE [dbo].[TRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_TRUYEN_TACGIA] FOREIGN KEY([Matacgia])
REFERENCES [dbo].[TACGIA] ([Matacgia])
GO
ALTER TABLE [dbo].[TRUYEN] CHECK CONSTRAINT [FK_TRUYEN_TACGIA]
GO
ALTER TABLE [dbo].[TRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_TRUYEN_THELOAI] FOREIGN KEY([Maloai])
REFERENCES [dbo].[THELOAI] ([Maloai])
GO
ALTER TABLE [dbo].[TRUYEN] CHECK CONSTRAINT [FK_TRUYEN_THELOAI]
GO
